<h1>State 1</h1>
<hr/>
<a ui-sref="state1.list">Show List</a>

<div class="container">
    <h1> Welcome to Packt Publishing </h1>
    <p>An example to showcase the Bootstrap Grid
        classes</p>
    <div class="row">
        <div class="col-md-4">
            <h2>PacktPub</h2>
            <p>Packt is one of the most prolific and fastgrowing
                tech book publishers in the world.
                Originally focused on open source software, Packt
                pays a royalty on relevant books directly to open
                source projects. These projects have received over
                $400,000 as part of Packt's Open Source Royalty
                Scheme to date.
            </p>
        </div>
        <div class="col-md-4">
            <h2>PacktLib: The Packt Online Library</h2>
            <p>
                PacktLib is Packt's online digital book library.
                Launched in August 2010, it allows you to access and
                search almost 100,000 pages of book content, to find
                the solutions you need.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Work for Packt Birmingham</h2>
            <p>
                Packt Publishing is a young, ground-breaking computer
                book publishing company with a large and fast-growing
                online customer base. With a highly ranked website and
                innovating constantly into new business areas, we are
                at the cutting-edge of digital publishing, web
                marketing and e-commerce development. Our unique
                strategy of publishing highly-focused and practical
                technical books on new and ground-breaking
                technologies has driven rapid growth and we are now
                poised for expansion. This can be seen from our recent
                move to new offices in the heart of Birmingham.
            </p>
        </div>
    </div>
</div>

<div ui-view></div>